body {
    background-color: blueviolet;

}

h1 {
    font-size:2.5rem;
    line-height: 1.5;
    letter-spacing:0.5rem;
    color:whitesmoke;
    text-align: center;

}


.container {
    /* border: 2px solid red; */
    height: 400px;
    position:absolute;
    width:70%;
    left:50%;
    top:50%;
    transform: translate(-50% ,-50%);
    background-image: url(1.jpg);
    background-size:100% 100%;
    box-shadow: 1px 3px 20px blue;
    animation: slider 10s infinite linear;
}

@keyframes slider {
    0%  {    background-image: url(1.jpg);
           
    }
    10%  {    background-image: url(1.jpg);
           
    }
    20%  {    background-image: url(1.jpg);
           
    }

    30% {    background-image: url(2.jpg);

    }

    40% {    background-image: url(2.jpg);

    }

    50% {    background-image: url(2.jpg);

    }

    60% {    background-image: url(3.jpg);

    }


    70% {    background-image: url(3.jpg);

    }

    80% {    background-image: url(3.jpg);

    }


    90% {    background-image: url(1.jpg);

    }

}