:root {
    --text-color:red;

    
}

ul {
    position: absolute;
 }
i {
    color:var(--text-color);
}


.fa {
    animation:dropIn 1s ease forwards;
    animation-delay: calc(var(--order)*100ms);
    padding:50px;

}

@keyframes dropIn {
    from {transform:translateY(-500px);}
    to {transform:translateY(400px);}
}
/* Instead of using following delay for each individual element
we can assign one variable with same name and different value
using inline style to each icon.then simplay multply 
variable to 100ms. This will take variale value and 
multiple it with wach 100ms. Do Neet to write animation delay of all. */
/* .fa.fa-facebook {
    animation-delay:100ms;
}

.fa.fa-car {
    animation-delay:100ms;
}
.fa.fa-yahoo {
    animation-delay:100ms;
} */
